<html>
<head><title>IIEC_Rise-Docker_Project</title></head>
<body bgcolor=white>
<center><h1><b><font size=12 face="cooper" color="##!!24">IIEC_Rise-Docker_Project</font></font><br></b></u></h1></center></font>
<font size=5><h1><center>Your Own WebServer inside a docker container</center></h1>
In order to understand, how to configure your own web server inside a docker container first of all you should know:

<div><h2>What is a Web Server?</h2></font>
<bgcolor="red"><p>A web server includes several parts that control how web users access hosted files, at minimum an HTTP server. An HTTP server is a piece of software that understands URLs (web addresses) and HTTP (the protocol your browser uses to view webpages). It can be accessed through the domain names (like mozilla.org) of websites it stores, and delivers their content to the end-user's device.<p>

<p>At the most basic level, whenever a browser needs a file which is hosted on a web server, the browser requests the file via HTTP. When the request reaches the correct web server (hardware), the HTTP server (software) accepts request, finds the requested document (if it doesn't then a 404 response is returned), and sends it back to the browser, also through HTTP.</p></bgcolor></div>


<image src="web_server.png" height=200 width=600 >

<font size=5><h2>Requirements to setup you web server:</h2></font>
<p><ul>
	<li>RedHat Linux RHEL8</li>
	<li>Docker</li>
	<li>Docker Image</li>
	<li>Apache web server</li></ul></p>


<font size=5><h3><b><u>Installation:</u></b></h3></font></font>
<br>Make sure you have the latest version of <b>Docker</b> installed on your machine.</br>
<br>If Not than run the following commands:-</br>
<br>For Docker installation on linux[Redhat]
<ul>
	<li>dnf list docker-ce</li></ul></br>
<font size=5><h4>For Docker Installation on RedHat/Centos:</h4></font>
<ul>
	<li>Configure yum by adding docker.repo and dvd.repo inside the /etc/yum.repos.d for local installation using</li>
	<a href=" https://download.docker.com/linux/centos/docker-ce.repo">
	 https://download.docker.com/linux/centos/docker-ce.repo</a>
	<li>Now, run command <i>yum install docker-ce --nobest</i></li></ul>
<b>Start Docker:</b>
Start your docker services by using command
<ul>
	<li>systemctl start services</li></ul>

<font size=5><h5><b>Creating container inside Docker:</b></h5></font>
To create a container inside a docker you should have an os, which is called docker image.
You can either download it from <i>hub.docker.com</i>
<br>Or you can use the following command
<ul>
	<li>docker pull image_name</li</ul></br>
Here, image name refers to on which you want to make your server e.g. ubuntu, centos etc.

Now to deploy container inside docker use command
<ul>
	<li>docker container run -t -i --name ____ docker_img_name:version</li></ul>
her you can give name to the server.
Ex- docker container run -t -i --name web centos:8
<font size=5><h6>Configure your Apche Server:</h6></font>
<ul>
	<li>First of all, install apache server inside you container using the command:
	<br><i>dnf install httpd</br></i></li>

	<li>Second, Start your apache services using command:
	<br><i>systemctl start httpd</br></i></li>

	<li>Third, turn off firewall services so that your clients can access your server by using command:
	<br><i>systemctl stop firewalld.services</br></i></li>

	<li>Third, configure your selinux settings using command:
	<br><i>setenforce 0</br></i></li>

	<li>Fourth, restart your apache services using command:
	<br><i>systemctl restarthttpd</br></i></li>
Your server is configured now. Your clients can access you site now.

Now save your container by copying it so that your server don't get eliminate.Now exit the container by using "exit" command.
Now to copy your container having your web server follow the given command:
<br><i>docker commit container_name  your_new_container_name</i></br>

<h7>for more information,</h7>
<br>contact:prateekgupta7500@gmail.com</br>
</body>
</html>